<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/verify.css">
  <title>Email is Verified</title>
</head>
<body>
  <div class="verified-info-container" role="contentinfo" aria-readonly="true" >
    <h1>Email is verified!</h1>
    <p>Welcome to Conta. Thanks for taking the time to verify your email. you can start using Conta email features now!</p>
  </div>
</body>
</html>