.toggle-password-visibility {
	background-image: url("./assets/closed-eye.png");
	background-repeat: no-repeat;
	background-size: cover;
	width: 20px;
	aspect-ratio: 1/1;
	position: absolute;
	top: calc(50% + 3px);
	right: 9px;
	cursor: pointer;
}

.change-visibility-icon {
	background-image: url("./assets/eye.png");
}
