.contact-list-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-block: 2.7rem;
	padding: 1.2rem;
	padding-top: 1.5rem;
	background-color: var(--secondary-color);
	box-shadow: #c0c0c0 0px 10px 10px;
	border-bottom: 4px solid;
	transition: transform 0.5s ease;
	border-radius: 7px;
}

.contact-avatar-container {
	position: absolute;
	top: -50px;
	left: calc(50% - 42.5px);
	width: 85px;
}

.contact-avatar-img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.contact-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 0.3rem;
	margin-block: 1.8rem;
}

.contact-info-container span {
	font-size: 1rem;
	color: var(--list-item-text);
}

.contact-country-code {
	font-weight: 600;
}

.contact-name {
	font-size: 1.1rem;
	font-weight: 600;
}

.contact-item-btns-container {
	display: flex;
	align-self: stretch;
	flex-direction: column;
}

@media (hover: hover) {
	/* .contact-list-item {
		border-bottom: none;
	} */

	/* .contact-list-item:hover {
		transform: translateY(-10px);
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-ms-transform: translateY(-10px);
		-o-transform: translateY(-10px);
	} */
}
