.contact {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	box-shadow: 0 0px 15px 0 silver;
	border-radius: 20px;
	background-color: #e0f7fa;
	overflow: hidden;
}

.contact-header {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	background-color: #0f1b25;
	padding: 1.3rem;
	padding-block-end: 3rem;
	border-radius: 20px 20px 0 0;
	-webkit-border-radius: 20px 20px 0 0;
	-moz-border-radius: 20px 20px 0 0;
	-ms-border-radius: 20px 20px 0 0;
	-o-border-radius: 20px 20px 0 0;
}

.contact-header a.Link.update-link {
	width: 25px;
	aspect-ratio: 1/1;
	background-image: url("./assets/edit-contact-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	top: 0;
	right: 0;
	padding: 0.4rem;
}

.contact-avatar-container {
	width: 85px;
	cursor: pointer;
	position: absolute;
	left: calc(50% - 45px);
	top: 50%;
}

.show-image-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.6);
	border-radius: 50%;
	transition: all 0.3s ease-in-out;
	opacity: 0;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.show-image-wrapper .eye-icon {
	display: block;
	width: 60%;
}

.contact-avatar-img {
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.contact-info-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
	padding: 2rem;
	padding-block-start: 3.5rem;
	white-space: nowrap;
}

.contact-info-container span {
	font-size: 1.1rem;
	font-weight: 600;
}

.delete-contact-contacts-page {
	width: 30px;
	aspect-ratio: 1/1;
	background-image: url("./assets/delete-contact-icon.png");
	background-size: cover;
	background-repeat: no-repeat;
	padding: 0.4rem;
}

a.secondary.Link.contact-more-details-btn {
	width: fit-content;
	margin-inline: auto;
	margin-block-end: 2rem;
}

@media (hover: hover) {
	.contact-avatar-container:hover > .show-image-wrapper {
		opacity: 1;
		height: 100%;
	}
}
