.Link {
	padding: 0.7rem 2rem;
	text-decoration: none;
	font-size: 1rem;
	color: var(--main-text-color);
	background-color: transparent;
	cursor: pointer;
	outline: none;
	border: 1px solid transparent;
	border-radius: 20px;
	transition: all 0.2s ease;
}

.main {
	font-weight: 600;
	color: #ffffff;
	background-color: #0f1b25;
}

.secondary {
	background-color: transparent;
	border-color: #0f1b25;
	color: #0f1b25;
}

@media (hover: hover) {
	.main:hover {
		background-color: transparent;
		border-color: #0f1b25;
		color: #0f1b25;
	}
	.secondary:hover {
		background-color: #0f1b25;
		color: #ffffff;
	}
}
