.contact-form-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	background-color: var(--main-bg-color);
}

.close-contact-form {
	position: absolute;
	left: 0.5rem;
	top: 0;
	width: 40px;
	height: 40px;
	background-image: url('./assets/arrow-back.svg');
	background-repeat: no-repeat;
	background-size: contain;
	filter: contrast(0.1);
	-webkit-filter: contrast(0.1);
}

.contact-form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1em;
	width: 275px;
	margin: 1rem;
	padding-block: 3em;
	background-color: var(--secondary-color);
	box-shadow: #8e8e8e 0px 0px 25px, #eee 0px 0px 25px;
	border-radius: 10px;
	background-color: #6f6bf2;
}

.contact-form::before {
	content: '';
	position: absolute;
	clip-path: circle(50%);
	width: 90px;
	height: 90px;
	right: -45px;
	top: -45px;
	background: linear-gradient(
		35deg,
		rgb(237 237 237) 20%,
		rgb(211 211 211) 80%
	);
}

.contact-form::after {
	content: '';
	position: absolute;
	clip-path: circle(50%);
	width: 60px;
	height: 60px;
	bottom: -30px;
	left: -30px;
	background: linear-gradient(
		225deg,
		rgb(237 237 237) 20%,
		rgb(211 211 211) 80%
	);
}

.contact-form-details-container {
	display: flex;
	flex-direction: column;
}

@media screen and (min-width: 768px) {
	.contact-form-container {
		flex-direction: row;
		gap: 3rem;
	}
}
