.btn {
	padding: 0.4rem 0.8rem;
	text-decoration: none;
	font-size: 1rem;
	color: var(--main-text-color);
	background-color: transparent;
	cursor: pointer;
	outline: none;
	border: 1px solid transparent;
	border-radius: 15px;
	transition: all 0.2s ease;
}

.main {
	font-weight: 600;
	color: #0d0d0d;
	background-color: #ebedf2;
}

.main:hover {
	background-color: #ebedf2;
}

.secondary {
	background-color: transparent;
	border-color: #ebedf2;
	color: #ebedf2;
}

@media (hover: hover) {
	.main:hover {
		background-color: transparent;
		border-color: #ebedf2;
		color: #ebedf2;
	}
	.secondary:hover {
		background-color: #ebedf2;
		color: #0d0d0d;
	}
}
