* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
  text-transform: capitalize;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  font-family: cursive, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  text-align: center;
  min-height: 100vh;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0.5rem;
  background-color: rgb(229, 226, 226);
}

::-webkit-scrollbar-thumb {
  background-color: steelblue;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
